@import url('https://fonts.googleapis.com/css2?family=Modak&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    font-family: 'Poppins';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
}

#bg {
    width: 100%;
}

.navv {
    position: absolute;
    top: 0;
    width: 100vw;
}


#navbar {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;

}



#Logo {
    width: 280px;
    height: 70px;
    padding-left: 40px;
    margin-top: 20px;
}

.button_left {
    display: grid;
    place-items: center;
    text-decoration: none;
    color: #fff;
    margin-right: -15%;
}
.button_right {
    display: grid;
    place-items: center;
}

.cuadrito {
    height: 120px;
    width: 40%;
    background-color: black;
    color: #FFDC31;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-bottom-right-radius: 45px
}

.cuadrito p {
    font-family: 'Modak';
    font-size: 70px;
    font-weight: normal;
}



.button_right a {
    display: grid;
    place-items: center;
    text-decoration: none;
    color: #fff;
    text-decoration: none;
    color: #fff;
    margin-left: 20px;
}

.usuario{
    border-radius: 20px;
    background-color: black;
    padding: 10% 50%;
}

.salir{
    border-radius: 20px;
    background-color: rgb(245, 3, 3);
    padding: 20% 50%;
}

.salir:hover{
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 15% 60%;
}


.login {
    border-radius: 20px;
    background-color: black;
    padding: 15% 50%;
}

.login:hover{
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 15% 50%;
}

.signup {
    border-radius: 20px;
    border: 2px solid #ffffff ;
    padding: 10% 30%;
}

.signup:hover{
    border-radius: 20px;
    background-color: #fff;
    padding: 10% 30%;
    color: black;
}

#ruta {
    display: flex;
    background-color: black;
    color: white;
    margin-top: -20px;
    width: 100%;

}

#left {
    display: grid;
    place-items: center;
    padding-left: 20%;
}

#right {
    display: flex;
    flex-flow: column;
    padding-left: 10%;
}

#mapme {
    margin-top: 10%;
    width: 600px;
    height: 600px;
    margin-bottom: 20%;
}

#up {
    width: 100%;
    display: flex;
    flex-flow: column;

}

#vamos {
    margin-top: 20%;
    margin-bottom: 20%;
    margin-left: 20%;
    font-family: 'modak';
    font-weight: 100;
    font-size: 60px;
    color: #2CFFFF;
}

.leinput {
    font-weight: bold;
    font-size: 40px;
    padding-left: 20%;

}

.dir {
    margin-left: 20%;
}

#down {
    width: 100%;
    display: flex;
}

#vale {
    margin: -4.5px;
    margin-left: 400px;
    width: 100%;
}

#valecita {


    height: 100px;
    width: 100px;

}

#first_input {
    margin-top: -100px;
    padding-top: -200px;
}

#boton_vamos {
    height: 50px;
    width: 200px;
    border: none;
    /* Quita el borde del botón */
    border-radius: 10px;
    cursor: pointer;
    margin-top: 5%;
    color: black;
    background-color: #FFDC31;
    font-weight: bold;
    font-size: 150%;

    margin-left: 20%;
    padding: 10px 20px;
}

#comunidad {
    display: flex;
    background-color: blue;
    color: white;
    margin-top: -20px;
    width: 100%;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.alerts {
    background-image: url('../IMG/Fondo_comunidad.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.alerts .cuadro-izq {
    background-color: black;
    width: 40%;
    height: 120px;
    border-bottom-right-radius: 45px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cuadro-izq h2 {
    color: #FFDC31;
    font-size: 50px;
    font-family: 'Modak';
    font-weight: normal;
}

.alerts main {
    min-height: 100vh;
    flex-grow: 1;
}

#foot {
    background-color: black;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#foot p {
    color: white;
}

#cuadro {
    background-color: black;
    float: right;
    height: 740px;
    width: 90%;
    position: relative;
    bottom: 50px;
    border-radius: 3.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cuadro .items {
    margin-bottom: 13px;
    background-color: white;
    width: 90%;
    height: 58px;
    border-radius: 10px;
    font-family: 'Poppins';
    padding-left: 10px;
}

.cuadro .items h3 {
    font-weight: 600;
    font-size: 16px;
}

.cuadro .items p {
    font-size: 12px;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.flechas-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    top: 10px;
    cursor: pointer;
}

.flechas-container .flechas:last-child {
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-right: 20px solid white;
    border-bottom: 20px solid transparent;
    transform: rotate(180deg);
}

.flechas-container .flechas:first-child {
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-right: 20px solid white;
    border-bottom: 20px solid transparent;
}


.footer {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    height: 80%;
    align-items: center;
    color: white;
}

.footer p {
    font-family: 'Poppins';
    font-size: 10px;
}

.img img {
    cursor: pointer;
}

.end img {
    position: relative;
    right: 120px;
}

#alert {
    color: #FFDC31;
    font-family: "Poppins";
    font-size: 60px;
}

#concej {
    color: #2CFFFF;
    font-family: "Poppins";
    font-size: 60px;
}

#cuadro .items {
    background-color: white;
    border-radius: 10px;
    padding: 2%;

}

#cuadro {
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
        "alert ."
        "first-child second-child"
        "concej ."
        "third-child fourth-child"

    ;
    gap: 15px;
}

#alert {
    grid-area: alert;

}

#concej {
    grid-area: concej;

}

#cuadro .items:first-of-type {
    grid-area: first-child;
}

#cuadro .items:nth-of-type(2) {
    grid-area: second-child;
}

#cuadro .items:nth-of-type(3) {
    grid-area: third-child;
}

#cuadro .items:last-of-type {
    grid-area: fourth-child;
}

#cuadro .items h3 {
    font-weight: bold;
    font-size: 30px;
}
