@import url('https://fonts.googleapis.com/css2?family=Modak&display=swap');

* {
    margin: 0%;
    padding: 0;
    box-sizing: border-box;

}


a {
    text-decoration: none;
    font-weight: 500;
    font-size: 1.2rem;
    display: flex;
}

h1{
    color: rgb(255, 255, 255);
    font-size: 50px;
    font-weight: 900;
}
h2{
    color: rgb(255, 255, 255);
}

.Logo {
    padding-left: 40px;
    width: 90px;
    height: 90px;

}

#navbar {
    background-color: transparent;
    padding-top: 40px;
    display: flex;

}



#navbar a {
    color: rgb(255, 255, 255);
    border-radius: 10px;
    border-bottom: #fff;
    transition: .5s ease;
}

#mainheader {
    position: relative;
    z-index: 1; /* Asegura que el encabezado esté sobre la imagen de fondo */
  }


ul {
    padding-top: 20px;
    list-style: none;
    padding-left: 60%;
    margin: 10px;
    display: flex;
}

ul li {
    margin-right: 10px;
}

.principal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
    z-index: 0; /* Asegura que la imagen de fondo esté detrás del contenido del encabezado */
  }

  #Rutas{
    margin-top: 50%;
    position: relative;
    z-index: 2;
  }

  .mapinicio{
    padding-left: 80%;
  }

  .dirinicio{
    margin-left: 80%;
  }
  .dirfinal{
    margin-left: 80%;
  }

  .inicio{
    margin-left: 80%;
  }
  .final{
    margin-left: 80%;
  }

  .map{
    padding-top: 15%;
    margin-top: -30%;
    margin-left: 10%;
  }

  .valecita{
    margin-left: 19.6%;
  }