<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Static/Styles/Alertas.css">
    <title>Biciquilla</title>    
</head>
<body>    
    <div class="cuadro-izq">
        <h2>Alertas!</h2>
    </div>
    <main>
        <div class="cuadro">
            <div class="items">
                <h3>Alerta #53456</h3>
                <p>Lugar: asdasd</p>
                <p>Tipo: Accidente balbla</p>
            </div>
            <div class="items">
                <h3>Alerta #53456</h3>
                <p>Lugar: asdasd</p>
                <p>Tipo: Accidente balbla</p>
            </div>
            <div class="items">
                <h3>Alerta #53456</h3>
                <p>Lugar: asdasd</p>
                <p>Tipo: Accidente balbla</p>
            </div>
            <div class="flechas-container">
                <div class="flechas"></div>
                <div class="flechas"></div>
            </div>
        </div>
    </main>
    <footer>
        <div class="footer">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis quam non enim blandit tempor.</p>
            <div class="img">
                <img width="40px" height="40px" src="../Static/IMG/fb-01.png">
                <img width="40px" height="40px" src="../Static/IMG/ig-01.png">
                <img width="40px" height="40px" src="../Static/IMG/whats-01.png">
            </div>
            <div class="end">
                <img width="170px" height="60px" src="../Static/IMG/logo2-01.png">
            </div>
            
        </div>
    </footer>
</body>
</html>