<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/config/Static/Styles/Home2.css">
    <title>Biciquilla</title>
</head>
<body>
    <header>
        <nav>
            
            <ul id="navbar">
                <a href="#mainheader" class="Logo"><img src="/config/Static/IMG/logo2-01.png" alt=""></a>
                <li><a href="#Home" class="3">Home</a></li>
                <li><a href="#Rutas" class="3">Rutas</a></li>
                <li><a href="#Comunidad" class="3">Comunidad</a></li>
                <li><a href="#Log in" class="Login">Log in</a></li>
                <li><a href="#Sign up" class="Signup">Sign up</a></li>
            </ul>
        </nav>
    </header>
    
</body>
</html>