<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/config/Static/Styles/Home.css">
    <title>Home</title>
</head>

<body style="background-color: black;">


    <header id="mainheader" class="mainheader">
        <nav id="navbar">
            <a href="#mainheader" class="Logo"><img src="/config/Static/IMG/logo2-01.png" alt=""></a>
            <ul>
                <li><a href="#Home" class="3">Home</a></li>
                <li><a href="#Rutas" class="3">Rutas</a></li>
                <li><a href="#Comunidad" class="3">Comunidad</a></li>
                <li><a href="#Log in" class="Login">Log in</a></li>
                <li><a href="#Sign up" class="Signup">Sign up</a></li>
            </ul>
        </nav>
    </header>
    <img class="principal" src="/config/Static/IMG/biciquillafondo2-01.jpg" alt="" width="100%" height="100%">


    <section id="Rutas" style="background-color: black;">
        <h1 class="mapinicio">A donde vamos?</h1>
        <h2 class="inicio">Dir Inicio</h2>
        <input class="dirinicio"  type="text" id="nombre" placeholder="Escribe tu nombre">
        <h2 class="final">Dir Final</h2>
        <input class="dirfinal" type="text" id="nombre" placeholder="Escribe tu nombre">

        <img class="map" src="/config/Static/IMG/mapa-01.png" alt="" width=45%" height="45%">
        <img class="valecita" src="/config/Static/IMG/valecita-01.png" alt="" width="25%">
        
    </section>

</body>

</html>