<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Modak&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/config/Static/Styles/Home.css">
    <title>Home</title>
</head>

<body style="background-color: black;">


    <header id="mainheader" class="mainheader">
        <nav >
            
            <ul id="navbar">
                <a href="#mainheader" class="Logo"><img src="/config/Static/IMG/logo2-01.png" alt=""></a>
                <li><a href="#Home" class="3">Home</a></li>
                <li><a href="#Rutas" class="3">Rutas</a></li>
                <li><a href="#Comunidad" class="3">Comunidad</a></li>
                <li><a href="#Log in" class="Login">Log in</a></li>
                <li><a href="#Sign up" class="Signup">Sign up</a></li>
            </ul>
        </nav>
    </header>
    <img class="principal" src="/config/Static/IMG/biciquillafondo2-01.jpg" alt="" width="100%" height="100%">

<div class="rutax">
    <h2>A donde vamos?</h2>
    <label class="leinput">Dir Inicio</label>
    <input class="dirinicio"  type="text" id="nombre" placeholder="Escribe direccion inicial">
    <label class="final">Dir Final</label>
    <input class="dirfinal" type="text" id="nombre" placeholder="Escribe tu direccion final">



</div>

    <!-- <section id="Rutas" style="background-color: black;">
    <div class="rutica">
        <div class="inputs">
        <label class="leinput">A donde vamos?</label>
        <label class="leinput">Dir Inicio</label>
        <input class="dirinicio"  type="text" id="nombre" placeholder="Escribe tu nombre">
        <label class="final">Dir Final</label>
        <input class="dirfinal" type="text" id="nombre" placeholder="Escribe tu nombre">
    </div>
        <img class="map" src="/config/Static/IMG/mapa-01.png" alt="" width="45%" height="45%">
        <img class="valecita" src="/config/Static/IMG/valecita-01.png" alt="" width="25%">
    </div>
    -->
    
    
        
    </section>

</body>

</html>